/* About */
.about_me {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: auto;
  width: 100%;
  max-width: 1160px;
  text-align: center;
  color: #f5f5dc;
  outline: 2px solid greenyellow;
}

.profile-img {
  height: 47vh;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  object-position: center;
  margin-bottom: 5rem;

  margin-right: 2.1em;
}
.linkToForm {
  position: relative;
}
.about-text {
  text-align: left;
  font-size: 2rem;
  line-height: 1.5;
  padding-bottom: 4rem;
}
.btnPortfolio {
  width: clamp(350px, 17vw, 300px);
  height: 60px;
  position: relative;
  display: flex;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: wheat;
  border: white 1px solid;
  border-radius: 50px;
  font-family: Matter, sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  cursor: pointer;
}
.pBTN {
  padding: 0px 15px 0px 15px;
}
.imgStar {
  width: 32px;
  height: 32px;
  transform-style: preserve-3d;
  animation: screwSpin 2s linear infinite;
  cursor: pointer;
}
.linkToForm {
  text-decoration: none;
  cursor: pointer;
}
@keyframes screwSpin {
  from {
    transform: perspective(500px) rotate3d(1, 0, 0, 0deg);
  }
  to {
    transform: perspective(200px) rotate3d(0, 0, 0.2, 360deg);
  }
}
