@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Matter, sans-serif;
  background: rgb(22, 22, 22);
  overflow-x: hidden;
  -webkit-user-select: none; /* עבור Safari */
  -moz-user-select: none; /* עבור Firefox */
  -ms-user-select: none; /* עבור Internet Explorer/Edge */
  user-select: none; /* תקן כללי */
  width: 100vw;
}

/* HTML: <div class="inverted-radius"></div> */

/* Main */

/* The Window */
section {
  width: 70vw;
  margin: 0 auto;
  height: 100vh;
  margin-top: 60rem;
  padding: 2em;
  color: rgb(243, 226, 191);
  text-align: left;
  font-family: Matter, sans-serif;
  a.linkGroup {
    text-decoration: none;
    color: rgb(243, 226, 191);
    cursor: url("data:image/svg+xml,%3csvg%20width='51'%20height='51'%20viewBox='0%200%2051%2051'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3crect%20x='1.0417'%20y='0.573608'%20width='49'%20height='49'%20rx='24.5'%20stroke='%23F9F8F6'/%3e%3cpath%20d='M32.5417%2025.0736H18.5417M32.5417%2025.0736L26.5417%2031.0736M32.5417%2025.0736L26.5417%2019.0736'%20stroke='%23F9F8F6'%20stroke-linecap='round'%20stroke-linejoin='round'/%3e%3c/svg%3e")
        16 16,
      auto;
  }
  h4 {
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;
    opacity: 0.5;
    margin-bottom: 6em;
    margin-top: 5em;
    font-family: Matter, sans-serif;
  }
}
.custom-paragraph {
  font-size: 0.9rem;
  line-height: 1.6;
  text-transform: uppercase;
}
.custom-heading {
  font-size: 6rem;
  letter-spacing: -3px;
  font-weight: 400;
}

hr {
  padding: 1em 0;
  border: none;
  border-top: 1px solid #ccc;
}
.group:hover .custom-heading,
.group:hover .custom-paragraph {
  color: whitesmoke;
  transform: translateX(10px);
  transition: transform 0.3s ease;
}
.group:hover {
  cursor: url("data:image/svg+xml,%3csvg%20width='51'%20height='51'%20viewBox='0%200%2051%2051'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3crect%20x='1.0417'%20y='0.573608'%20width='49'%20height='49'%20rx='24.5'%20stroke='%23F9F8F6'/%3e%3cpath%20d='M32.5417%2025.0736H18.5417M32.5417%2025.0736L26.5417%2031.0736M32.5417%2025.0736L26.5417%2019.0736'%20stroke='%23F9F8F6'%20stroke-linecap='round'%20stroke-linejoin='round'/%3e%3c/svg%3e")
      16 16,
    auto;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 5px 36px rgb(143, 142, 142);
}

.modal-content {
  padding: 20px;
  box-shadow: 0px 3px 25px rgb(143, 142, 142);
  border: none;
  width: 82%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  overflow-x: hidden;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  bottom: 15px;
  left: 140px;
  cursor: pointer;
}
#downloadButton,
#showButton {
  cursor: pointer;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Form */
.container_form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 50%;
  padding-top: 10rem;
  padding-bottom: 3rem;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font: normal normal bold 16px/24px Heebo;
}

.form .h3 {
  font: normal normal 900 36px/53px Heebo;
}
.form .p {
  width: 90%;
  font: normal normal normal 20px/29px Heebo;
}

.singel-label {
  width: 90%;

  padding: 10px 0 0 0;
}

.h_input {
  width: 90%;
  border: none;
  height: 30px;
  border-bottom: #cccccc 4px solid;
}
.form textarea {
  width: 90%;
  height: 100px;
  resize: none;
  font-family: sans-serif;
  font-size: 0.8em;
  border-bottom: #1ae0ec 4px solid;
}
.form .btn {
  background: #1ae0ec 0% 0% no-repeat padding-box;
  border-radius: 25px;
  border: none;
  width: 20%;
  font: normal normal bold 22px/30px Heebo;
  cursor: pointer;
  margin-top: 1em;
}

/* footer */

footer.services {
  width: 100vw;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  height: 17.5vh;
  background: transparent;
}
.logo_bar {
  width: 100%;
  height: 16vh;
  display: flex;
  background-color: transparent;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #fff;
  padding: 2rem 0rem;
}

.logo a {
  text-decoration: none;
  background-color: #fff;
  color: black;
  padding: 0rem 0.2rem;
}

/* Copyright */

.copyright {
  width: 100%;
  height: 61.5%;
  background: #000000 0% 0% no-repeat padding-box;
  position: relative;
  top: 15px;
}
.copyright {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.copyright p {
  color: #ff7353; /* כתום */
  font: normal normal normal 20px/29px Heebo;
  letter-spacing: 1px;
}
.copyright p span {
  color: rgb(243, 226, 191);
  font: normal normal normal 25px/30px Heebo;
}
