@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Satisfy&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  overflow-x: hidden;
}

.header {
  width: 100%;
  height: 100vh;
}

.navbar {
  position: fixed;
  border-top: #1ae0ec 3px solid;
  width: 100vw;
  height: 55px;
  padding: 10px 0px;
  box-shadow: 0px 3px 6px #00000029;
  z-index: 1;
}

.navbar {
  background: linear-gradient(100deg, #141414, #181717, #008080);
}
.profile img {
  width: 40px;
  position: fixed;
  top: 10px;
  left: 200px;
  box-shadow: 0px 2px 10px #13eaf1bd;
  border-radius: 5px;
  z-index: 1;
}

.profile h4 {
  display: block;
  position: fixed;
  left: 300px;
  top: 13px;
  font-size: 1.6em;
  font-family: "Satisfy", cursive;
  color: #13eaf1bd;
  text-shadow: 1px 3px 16px #13eaf1bd;
  letter-spacing: 1.3px;
}
/* Hamburger */
.hamburger {
  display: none;
  font-size: larger;
}
.hamburger a {
  color: #1ae0ec;
  font-size: 2em;
  position: fixed;
  right: 1.5em;
  top: 0.3em;
  z-index: 2;
  cursor: pointer;
  text-decoration: none;
}

.nav-list {

  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  float: right;
  margin-right: 127px;
}

.nav-list li {
  margin-right: 30px;
  margin-left: 20px;
}

.nav-list a {
  font-size: 1.5625em;
  color: #1ae0ec;
  text-shadow: 2px 3px 15px #13eaf1bd;
  text-decoration: none;
}
.nav-list.active {
  display: block;
}
/* DropDown Projects */

.dropdown {
  position: relative;
  cursor: pointer;
}
.dropdown li {
  list-style: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 3.9em;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 0;
  font-size: 10px;
  text-align: center;
}
.dropdown-content li {
  padding: 10px 0px;
}
.dropdown-content.active {
  display: block;
}

/* header */

.work_portfolio {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url(bgc_WorkProtfolio.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Poppins;
}

.work_portfolio h1 {
  position: absolute;
  width: 100%;
  top: 14rem;
  left: 13rem;
  -webkit-text-stroke: 2.5px teal; /* Width and color of the border (webkit prefix for Safari) */
  color: rgb(224, 224, 224);
  font-size: 5.4rem;
  text-shadow: 2px 3px 15px #13eaf1bd;
}
.work_portfolio h2 {
  position: relative;
  top: 21.5rem;
  left: 13rem;
  width: 100%;
  -webkit-text-stroke: 2.5px teal;
  color: rgb(224, 224, 224);
  font-size: 4.4rem;
  text-shadow: 2px 3px 15px #13eaf1bd;
}
.work_portfolio h3 {
  position: relative;
  top: 21rem;
  left: 13rem;
  width: 100%;
  -webkit-text-stroke: 2.5px teal;
  color: rgb(224, 224, 224);
  font-size: 4.6rem;
  text-shadow: 2px 3px 15px #13eaf1bd;
}

/* Icons */
.div_logo {
  display: flex;
  width: 100%;
  padding: 25px 0px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #121a1a, #095a5a, #121a1a);
}

.icon {
  box-shadow: 0px 5px 15px #41d1d6bd;
  border: none;
  filter: contrast(1%);
  width: 70%;
  margin-left: 2em;
  margin-right: 2em;
  transform: translateX(-100%);
  /* Start off-screen to the left */
  transition: transform 0.9s ease-in-out, opacity 1.5s ease-in-out; /* Transitions for smooth movement and opacity */
}
.icon.active {
  transform: translateX(0);
  opacity: 1;
  /* Move to the center */
}

#about {
  list-style: none;
}

/* About */
.about_me {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(90deg, #121a1a, #095a5a, #121a1a);
}
.container-Text {
  text-align: center;
  width: 80%;
}
.fText {
  -webkit-text-stroke: 2.5px teal;
  color: rgb(224, 224, 224);
  font-size: 2.2rem;
  font-family: "Poppins";
}
.secText {
  font-size: 30px;
  font-weight: 600;
}

.profile-img {
  width: 15%;
}

.about-title {
  font-size: 2.1rem;
  color: #3a3a3a;
  padding: 0.2em 0.2em;
}
.about-text {
  padding: 1rem 5rem;
  text-align: center;
  font-size: 1.5rem;
  -webkit-text-stroke: 1px teal;
  color: rgb(224, 224, 224);
  line-height: 1.5;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.about-btn {
  width: 260px;
  height: 41px;
  font-size: 20px;
  background: #1ae0ec;
  border-radius: 25px;
  border: none;
}
.about-btn a {
  text-decoration: none;
  color: #3a3a3a;
}

/* Main */
.main {
  width: 100%;
  padding-top: 90px;
  background: linear-gradient(90deg, #121a1a, #095a5a, #121a1a);
}
.main_text {
  /* font-family: ; */
  margin: auto;
  text-align: center;
}
.main_text h3 {
  font-size: 3.2rem;
  -webkit-text-stroke: 0.6px teal;
}
.main_text p {
  -webkit-text-stroke: 0.6px teal;
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 10px;
  text-transform: capitalize;
}

/* Projects */

.grid_main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  justify-content: center;
}

.item {
  width: 300px;
  padding-bottom: 2em;
  border-radius: 9%;
  box-shadow: 3px 3px 15px #00000029;
  background: #ffffff 0% 0% no-repeat padding-box;
  text-align: center;
  transform: scale(0.9);
  transition: 0.3s ease-in-out;
}

.item:hover {
  transform: scale(1);
}
/* Cards */
.grid_main #top_img {
  width: 100%;
  height: fit-content;
  box-shadow: 3px 3px 15px #00000029;
  border-radius: 15px;
}
.grid_main h6 {
  font-size: 1.6rem;
  padding: 37px 0 21px 0;
  color: #3a3a3a;
}
.grid_main p {
  font-size: 1rem;
  color: #3a3a3a;
  text-align: center;
  padding: 0 2em;
}

.grid_main .icon-cards {
  display: block;
  width: 130px;
  height: 30px;
  margin: 0 auto;
}
.grid_main button {
  width: 10em;
  height: 1.9em;
  border: none;
  font: normal normal bold 16px/26px Heebo;
  border-radius: 15px;
  background: #1ae0ec 0% 0% no-repeat padding-box;
  margin-top: 2.188em;
}
.grid_main a {
  text-decoration: none;
  text-align: center;
  color: #2c2c2c;
}

/* JavaScript Projects */

.js_countainer {
  width: 100%;

  padding-top: 5em;
  background: linear-gradient(90deg, #121a1a, #095a5a, #121a1a);
}

.grid_ScriptProject {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  margin: 0em auto;
  gap: 10px;
  padding-top: 5px;
  justify-content: center;
}

.card,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s;
  background-color: #040405;
  border-radius: 7px;
}

.js_project {
  width: 339px;
  height: 50vh;
  border-radius: 10px;
  border: solid 0.2em rgb(165, 165, 38);
  box-shadow: 3px 3px 15px #00000029;
  background: #27282c;
  text-align: center;
  transition: transform 0.7s;
  transform-style: preserve-3d;
  cursor: pointer;
}
.explaine {
  counter-reset: myCounter;
  font-size: large;
  padding-top: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

/* Style the list item */
.explaine li {
  list-style: none; /* Remove default list style */
  font-size: 1rem;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: 1.3;
  color: yellowgreen;
}
hr {
  color: yellow;
  width: 100%;
  font-size: 1px;
}

/* Style the counter */
.explaine li:before {
  padding-right: 5px;
  content: counter(myCounter) "."; /* Display the counter */
  counter-increment: myCounter; /* Increment the counter for each item */
}
.js_project.flipped {
  transform: rotateY(180deg);
}

.js_project .card-back {
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.js_project h2 {
  font-family: "Poppins";
  -webkit-text-stroke: 2px rgb(165, 165, 38);
  font-size: 2.5em;

  color: #27282c;
}

.js_project button {
  width: 10em;
  height: 1.9em;
  border: none;
  font: normal normal bold 16px/26px Heebo;
  border-radius: 15px;
  background: #1ae0ec 0% 0% no-repeat padding-box;
  margin-top: 0.5rem;
}
.js_project a {
  text-decoration: none;
  text-align: center;
  color: #2c2c2c;
}
/* image */
.imgs_Jsproject {
  width: 100%;
  height: 100%;
  border-radius: 2%;
}
/* Open Window */
#openButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
/* The Window */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 5px 36px rgb(143, 142, 142);
}

.modal-content {
  background: linear-gradient(90deg, #121a1a, #095a5a, #121a1a);
  padding: 20px;
  box-shadow: 0px 3px 25px rgb(143, 142, 142);
  border: none;
  width: 82%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  overflow-x: hidden;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  bottom: 15px;
  left: 140px;
  cursor: pointer;
}
#downloadButton,
#showButton {
  cursor: pointer;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Form */
.container_form {
  width: 100%;
  background: linear-gradient(90deg, #121a1a, #095a5a, #121a1a);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 50%;
  padding-top: 10rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font: normal normal bold 16px/24px Heebo;
}

.form .h3 {
  font: normal normal 900 36px/53px Heebo;
}
.form .p {
  width: 90%;
  font: normal normal normal 20px/29px Heebo;
}

.singel-label {
  width: 90%;

  padding: 10px 0 0 0;
}

.h_input {
  width: 90%;

  height: 30px;
  border-bottom: #1ae0ec 4px solid;
}
.form textarea {
  width: 90%;
  height: 100px;
  resize: none;
  font-family: sans-serif;
  font-size: 0.8em;
  border-bottom: #1ae0ec 4px solid;
}
.form .btn {
  background: #1ae0ec 0% 0% no-repeat padding-box;
  border-radius: 25px;
  border: none;
  width: 20%;
  font: normal normal bold 22px/30px Heebo;
  cursor: pointer;
  margin-top: 1em;
}

/* footer */

footer.services {
  width: 100vw;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  height: 17.5vh;
  background: #1ae0ec 0% 0% no-repeat padding-box;
}
.logo_bar {
  width: 100%;
  height: 16vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 0rem;
}

.logo a {
  text-decoration: none;
  color: black;
  padding: 0rem 0.2rem;
}
.logo a:hover {
  color: blue;
}

/* Copyright */

.copyright {
  width: 100%;
  height: 61.5%;
  background: #000000 0% 0% no-repeat padding-box;
  position: relative;
  top: 15px;
}
.copyright {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.copyright p {
  color: #1ae0ec;
  font: normal normal normal 20px/29px Heebo;
}
.copyright p span {
  color: #1ae0ec;
  font: normal normal normal 20px/29px Heebo;
}
