@media screen and (max-width: 1536px) {
  .nav-list.active {
    display: grid;
    padding-top: 5em;
    align-content: center;
  }

  .nav-list li {
    display: flex;
    justify-content: center;
  }

  /* Work Protfolio */
}
@media screen and (max-width: 1280px) {
  .about_me {
    flex-direction: column;
    margin-top: 10em;
    margin-bottom: 15em;
    max-width: 900px;
  }
  .profile-img {
    margin-bottom: 2.5rem;
    margin-right: 0em;
  }
  .about-text {
    font-size: clamp(1.7rem, 15vw, 1rem);
  }
  .text_container div {
    font-size: 5rem;
  }

  .form {
    width: 70%;
  }
}
@media screen and (max-width: 1024px) {
  .about_me {
    max-width: 850px;
  }
  .about-text {
    text-align: center;
  }
  .btnPortfolio {
    left: 25%;
  }
  .text_container div {
    font-size: 4.5rem;
    margin-top: 15px;
  }
}
@media screen and (max-width: 768px) {
  .hamburger {
    position: fixed;
    display: block;
  }
  .hamburger a {
    color: #1ae0ec;
    font-size: 2em;
    position: fixed;
    z-index: 2;
    right: 1em;
  }
  .navbar {
    height: auto;
    backdrop-filter: blur(10px);
  }
  .nav-list {
    display: none;
  }
  .line {
    top: calc(100%-20px);
  }

  /* Div Logo */
  .div_logo {
    flex-wrap: wrap;
    a {
      padding: 5px 4px;
    }
  }
  .icon {
    width: 75px;
    margin-left: 0em;
    margin-right: 0em;
  }
  /* About Me */
  .about_me {
    max-width: 650px;
  }
  .btnPortfolio {
    left: 24%;
  }
  .about-text {
    font-size: 1.7rem;
  }
  .text_container div {
    font-size: 3.4rem;
    margin-top: 25px;
  }
  /* Html Projects */
  .grid_main {
    grid-template-columns: repeat(1, 0fr);
  }
  .main_text {
    width: 97%;
    height: 47vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    box-shadow: 0px 50px 50px;
    background: linear-gradient(90deg, #121a1a, #095a5a, #121a1a);
    padding: 0 5px;
    p {
      padding: 0 6px;
      font-size: 1.1rem;
    }
  }
  /* JS Projects */
  .js_project {
    height: 48vh;
  }

  .grid_ScriptProject {
    padding-top: 4rem;
    grid-template-columns: repeat(1, 0fr);
  }
  /* Form */
  .form {
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  .about_me {
    max-width: 550px;
    margin-top: 15em;
    margin-bottom: 20em;
  }
  .btnPortfolio {
    left: 19%;
  }
  .about-text {
    font-size: 1.5rem;
  }
  .text_container div {
    font-size: 2.4rem;
    margin-top: 32px;
  }
  .js_project {
    height: 60vh;
  }

  .div_logo {
    a {
      padding: 7px 12px;
    }
  }
}
@media screen and (max-width: 475px) {
  .hamburger a {
    position: fixed;
    right: 0em;
  }
  .btnPortfolio {
    left: 8%;
  }
  .js_project {
    height: 60vh;
  }

  .div_logo {
    a {
      padding: 7px 12px;
    }
  }
}
