/* Media 1273px*/
@media screen and (max-width: 1273px) {
  .nav-links {
    display: flex;
    align-items: center;
  }
  .header {
    width: 100%;
    height: 31em;
    overflow: auto;
  }
  .navbar {
  }

  .profile h4 {
    display: none;
  }

  .profile img {
    width: 40px;
    height: 40px;
    position: fixed;
    left: 2em;
    top: 8px;
  }

  /* Hamburger */
  .hamburger {
    display: block;
  }
  .hamburger a {
    color: #1ae0ec;
    font-size: 1.5em;
    position: fixed;
    z-index: 2;
    cursor: pointer;
    overflow-x: hidden;
  }

  .nav-list {
    display: none;
    width: 100%;
    background-color: #fff;
    border: solid 1px #65f7fc63;
    position: absolute;
    top: 3.2em;
  }

  .nav-list.active {
    display: block;
  }

  .nav-list li {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
  .nav-list a {
    font-size: 1em;
  }
  .dropdown {
    position: relative;
    cursor: pointer;
  }

  .dropdown-content {
    position: relative;
    top: -5px;
    background-color: black;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 0;
    text-align: center;
  }
  .dropdown-content li {
    padding-bottom: 0.8em;
    padding-top: 0.3em;
    font-size: 0.8rem;
  }

  /* Work Protfolio */
  .work_portfolio {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url(bgc_WorkProtfolio.png);
    overflow-x: hidden;

    font-family: Poppins;
  }

  .work_portfolio h1 {
    position: absolute;
    width: 100%;
    top: 8rem;
    left: 6rem;
    font-size: 5rem;
  }
  .work_portfolio h2 {
    position: relative;
    top: 14rem;
    left: 6rem;
    font-size: 5rem;
  }
  .work_portfolio h3 {
    position: relative;
    top: 13rem;
    left: 6rem;
    width: 100%;
    font-size: 5rem;
  }
  /* JS PROJECTS */
  .grid_ScriptProject {
    width: 70vw;
    margin: 2.5em auto;
  }

  .js_project {
    width: 20vw;
  }
  /* FORM */
  .container_form {
    padding-left: 1px;
  }

  .form {
    width: 58%; /* Adjust width for smaller screens */
  }
}

/* @Media 1005px */
@media screen and (max-width: 1005px) {
  /* Work Protfolio */
  .work_portfolio h1 {
    position: absolute;
    width: 100%;
    top: 10rem;
    left: 6rem;
    font-size: 3rem;
  }
  .work_portfolio h2 {
    position: relative;
    top: 14rem;
    left: 6rem;
    font-size: 3rem;
  }
  .work_portfolio h3 {
    position: relative;
    top: 13.5rem;
    left: 6rem;
    width: 100%;
    font-size: 3rem;
  }
  /* Div logo */
  .div_logo a {
    margin-left: 1em;
    margin-right: 1em;
  }
  .icon {
    width: 100%;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  /* HTML PROJECTS */
  .about-text {
    width: 96%;
  }
  .grid_main {
    width: 83%;
    grid-template-columns: repeat(3, 1fr);
  }
  .item {
    width: 27vw;
  }
  /* JS PROJECTS */
  .grid_ScriptProject {
    width: 80%;
    margin: 2em auto;
  }

  .js_project {
    width: 100%;
  }
  /* FORM */
  .container_form {
    height: 60vh;
  }

  .form {
    width: 73%;
  }
  .image-container {
    padding-bottom: 8.6em;
  }
  .form textarea {
    height: 10vh;
  }
  .form .btn {
    width: 38%;
    margin-bottom: 1em;
  }
}

/* @Media 760px */
@media screen and (max-width: 760px) {
  /* Work Protfolio */
  .work_portfolio h1 {
    position: absolute;
    width: 100%;
    top: 11rem;
    left: 2rem;
    font-size: 2.5rem;
  }
  .work_portfolio h2 {
    position: relative;
    top: 14rem;
    left: 2rem;
    font-size: 2.5rem;
  }
  .work_portfolio h3 {
    position: relative;
    top: 13.5rem;
    left: 2rem;
    width: 100%;
    font-size: 2.5rem;
  }
  .div_logo {
    flex-wrap: wrap;
    width: 100%;
    background: linear-gradient(90deg, #121a1a, #095a5a, #121a1a);
    padding-top: 1em;
  }
  .icon {
    width: 83%;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
  }
  /* HTML Projects */
  .profile-img {
    width: 20%;
  }
  .about-text {
    width: 97%;
  }
  .grid_main {
    width: 82vw;
    grid-template-columns: repeat(2, 1fr);
  }
  .item {
    width: 42vw;
    height: 47vh;
    padding-bottom: 2em;
  }

  /* JS Projects*/
  .grid_ScriptProject {
    width: 77vw;
    margin: 1.5em auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }

  .js_project {
    width: 38vw;
    height: 35vh;
    padding-bottom: 2em;
  }

  .js_project h2 {
    font-size: 2em;
  }

  .js_project button {
    width: 8em;
    font-size: 14px;
  }
  /* FORM */
  .container_form {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .form {
    padding-top: 15em;
    width: 90%;
  }
  .form .btn {
    width: 38%;
    margin-bottom: 1em;
  }
  .image-container {
    display: flex;
    justify-content: end;
  }
  .image-container img {
    width: 62%;
  }
}
/* @Media 495px */
@media screen and (max-width: 495px) {
  .header {
    overflow: auto;
  }
  .work_portfolio h1 {
    position: absolute;
    width: 100%;
    top: 11rem;
    left: 0.2rem;
    font-size: 2rem;
  }
  .work_portfolio h2 {
    position: relative;
    top: 14rem;
    left: 0.2rem;
    font-size: 2rem;
  }
  .work_portfolio h3 {
    position: relative;
    top: 13.5rem;
    left: 0.2rem;
    width: 100%;
    font-size: 2rem;
  }
  /* About */
  .about-text {
    width: 100%;
    padding: 1rem 2.1rem;
    font-size: 1.11rem;
    -webkit-text-stroke: 0.2px teal;
  }
  /* HTML PROJECTS */
  .main_text h3 {
    font-size: 3.2rem;
    -webkit-text-stroke: 0.6px teal;
    padding-bottom: 11px;
    text-transform: capitalize;
  }

  .main_text p {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: capitalize;
    -webkit-text-stroke: 0.6px teal;
    color: white;
  }

  .grid_main {
    width: 76%;
    grid-template-columns: repeat(1, 1fr);
  }

  .item {
    width: 100%;
    padding-bottom: 1.5em;
  }

  .grid_main h6 {
    font-size: 1.4rem;
    padding: 25px 0 15px 0;
  }

  .grid_main p {
    font-size: 0.9rem;
    padding: 0 1em;
    margin-bottom: 15px;
  }

  .grid_main button {
    width: 8em;
    font-size: 14px;
  }

  .grid_main .icon-cards {
    width: 110px;
    height: 25px;
  }
  .image-container {
    padding-right: 1em;
  }
  /* JS PROJECTS */
  .section {
    height: 175vh;
  }

  .js_countainer {
    padding-top: 3em;
  }

  .grid_ScriptProject {
    width: 90vw;
    margin: 1.5em 4.5em;
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
  }

  .js_project {
    width: 68vw;
    height: 28vh;
  }

  .js_project h2 {
    font-size: 1.5em;
  }

  .js_project button {
    width: 8em;
    font-size: 14px;
  }
  /* Form */
  .container_form {
    width: 100%;
    height: 90vh;
  }
  .form {
    padding-bottom: 1rem;
  }
  .form .p {
    font-size: 1rem;
  }
}

/* Media 390px*/
@media screen and (max-width: 390px) {
  body {
    overflow: auto;
  }
  .header {
    width: 100vw;
    height: 50vh;
  }

  .profile h4 {
    display: none;
  }

  .profile img {
    width: 40px;
    height: 40px;
    position: fixed;

    top: 8px;
  }

  /* Hamburger */

  .hamburger a {
    color: #1ae0ec;
    font-size: 1.5em;
    position: fixed;
    right: 0.5em;
    top: 0.3em;
    z-index: 2;
    cursor: pointer;
    text-decoration: none;
  }

  .nav-list {
    display: none;
    width: 100%;
    background-color: #fff;
    border: solid 1px #65f7fc63;
    position: absolute;
    left: 0px;
    top: 52px;
  }
  .nav-list.active {
    display: block;
  }

  .nav-list li {
    padding-left: 2.5em;
    padding-bottom: 0.8em;
  }
  .nav-list a {
    font-size: 1em;
  }

  .dropdown {
    position: relative;
    cursor: pointer;
  }

  .dropdown-content {
    position: relative;
    top: -5px;
    background-color: black;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 0;
    text-align: center;
  }
  .dropdown-content li {
    padding-left: 40px;
    padding-bottom: 0.8em;
    padding-top: 0.3em;
    font-size: 0.8rem;
  }

  /* Work Portfolio */
  .work_portfolio {
    width: 100%;
    height: 100%;
  }
  .work_portfolio h1 {
    position: relative;
    left: 4.5rem;
    top: 9.2rem;
    font-size: 2.8rem;
    text-shadow: 2px 10px 2px black;
  }

  .work_portfolio h2 {
    position: relative;
    top: 9rem;
    left: 2rem;
    font-size: 1.9rem;
    text-shadow: 2px 10px 2px black;
  }
  .work_portfolio h3 {
    position: relative;
    top: 9rem;
    left: 0.6rem;
    width: 100%;
    font-size: 2rem;
    text-shadow: 2px 10px 2px black;
  }

  /* Div Logo .icon */
  .div_logo {
    flex-wrap: wrap;
    width: 100%;
    background: linear-gradient(90deg, #121a1a, #095a5a, #121a1a);
    padding-top: 1em;
  }
  .icon a {
    width: 50%;
    margin-bottom: 2em;
    margin-left: 3em;
    margin-right: 3em;
  }

  /* About */
  .about_me {
    background: linear-gradient(90deg, #121a1a, #095a5a, #121a1a);
    height: 90vh;
    width: 100%;
  }
  .profile-img {
    width: 30%;
  }

  .about-text {
    padding: 0.9em 0;
    width: 91%;
    font-size: 1rem;
  }
  .about-btn {
    width: 42%;
    height: 5%;
    font-size: 0.8rem;
    font-weight: bold;
    background: #1ae0ec;
    border-radius: 15px;
    border: none;
  }

  /* Main */

  .main {
    width: 100%;

    padding-bottom: 9.375em;
    background: linear-gradient(90deg, #121a1a, #095a5a, #121a1a);
  }
  .main_text {
    width: 98%;
    height: 35vh;
    padding: 0 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    border-radius: 50%;
    box-shadow: 0px 50px 50px;
    background: linear-gradient(90deg, #121a1a, #095a5a, #121a1a);
  }
  .main_text h3 {
    font-size: 2.5rem;
    padding-bottom: 0.7em;
  }
  .main_text p {
    font-size: 1.3rem;
  }
  .grid_main {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    gap: 1px;
    margin-top: 5em;
  }
  .item {
    width: 80%;
    margin-bottom: 2em;
    margin-left: 37px;
    box-shadow: 0px 20px 50px;
  }

  /* js */
  .section {
    width: 100%;
    height: 308vh;
    background: linear-gradient(90deg, #121a1a, #095a5a, #121a1a);
  }
  .js_countainer {
    width: 100%;
    height: 90%;
    padding-top: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main_textjs {
    width: 98%;
    height: 35vh;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0px 50px 50px;
    background: linear-gradient(90deg, #121a1a, #095a5a, #121a1a);
  }
  .main_textjs h3 {
    font-size: 2.5rem;
    padding-bottom: 0.7em;
  }
  .main_textjs p {
    font-size: 1.3rem;
    padding: 0rem 1rem;
  }

  .grid_ScriptProject {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
  .js_project {
    width: 80%;
    height: 35vh;
    margin-top: 50px;
    margin-left: 2.55em;
  }

  .js_project h2 {
    font-size: 1.1rem;
  }
  .js_project button {
    width: 5.5em;
  }
  /* Media Form */
  .container_form {
    width: 100%;
    height: 73vh;
    padding-top: 1rem;
  }

  .form {
    width: 310px;
    color: #ffffff;
    font: normal normal bold 16px/24px Heebo;
    padding-top: 1rem;
  }

  .form .h3 {
    font-size: 2.5rem;
  }
  .form .p {
    font-size: 1.5rem;
  }

  .singel-label {
    font-size: 0.9rem;
  }

  .h_input {
    height: 27px;
    border-bottom: #1ae0ec 2px solid;
  }
  .form textarea {
    width: 90%;
    font-size: 0.8em;
    border-bottom: #1ae0ec 2px solid;
  }
  .form .btn {
    background: #1ae0ec 0% 0% no-repeat padding-box;
    border-radius: 25px;
    border: none;
    width: 94px;
    height: 28px;
    font: normal normal bold 12px/16px Heebo;
  }

  .image-container img {
    width: 190px;
    height: 161px;
    position: relative;
    left: 66px;
    bottom: 10px;
    animation: swing-mobile 5s ease-in-out infinite alternate;
  }
  @keyframes swing-mobile {
    0% {
      transform: rotateZ(-10deg); /* Start position */
    }
    100% {
      transform: rotateZ(10deg); /* End position */
    }
  }

  /* Footer */
  footer.services {
    width: 100%;
    height: 27vh;
  }

  .logo {
    width: 33vw;
    height: 8vh;
  }
  .copyright {
    height: 22px;
  }
  .copyright p {
    font-size: 0.6rem;
  }
}
