* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
.gradient {
  width: 100%;
  background: linear-gradient(135deg, #ffcc00, #ff6666);
  min-height: 100vh;
  padding: 10px;
}

.white-Container {
  width: 100%;
  max-width: 540px;
  background-color: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 50px;
}
.text {
  margin: 10px 10px;
  font-size: larger;
}

.contain-grey {
  width: 90%;
  height: 50px;
  background-color: rgb(201, 201, 201);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px 50px 50px;
  padding-left: 30px;
  margin-left: 20px;
}
.input {
  background: transparent;
  border: none;
  outline: none;
  padding: 10px;
}
.input::placeholder {
  color: rgb(255, 255, 255);
  font-size: 1.4em;
}
.btn {
  width: 20%;
  height: 50px;
  border: none;
  border-radius: 50px;
  background-color: orange;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
}

/* li creatElement AND Class By JS */
.ulList {
  width: 480px;
  margin-top: 10px;
  padding-left: 51px;
  padding-top: 10px;
  padding-bottom: 17px;
  border: solid black 1px;
  border-radius: 50px;
  background-color: rgb(207, 207, 207);
  display: flex;
  flex-direction: column;
}

.ulList li {
  position: relative; /* כדי שהעיגול ישאר בתוך גבולות האלמנט */
  list-style: none;
  user-select: none;
  font-size: 18px;
  cursor: pointer;
  margin-right: 20px;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
}

.ulList li::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -35px;
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid grey;
  background-color: wheat;
}

li.clicked {
  text-decoration: line-through;
}

li.clicked::before {
  content: "V";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
}
li.clicked span {
  text-decoration: none;
}

.ulList li span {
  font-size: 20px;
  line-height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
}

.ulList li span:hover {
  background: #edeef0;
}
