body {
  background-color: black;
  font-family: Matter, sans-serif;
  -webkit-user-select: none; /* עבור Safari */
  -moz-user-select: none; /* עבור Firefox */
  -ms-user-select: none; /* עבור Internet Explorer/Edge */
  user-select: none; /
}

.main {
  margin-top: 1em;
  margin-bottom: 5em;
}

.main_text {
  /* font-family: ; */
  margin: auto;
  text-align: center;
}

.main_text h3 {
  letter-spacing: -0.3px;
  color: #f7771d;
  -webkit-text-stroke: 1.3px rgb(243, 226, 191);
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.52;
  margin-bottom: 4em;
  margin-top: 5em;
  font-family: Matter, sans-serif;
}

.main_text p {
  -webkit-text-stroke: 1.1px rgb(243, 226, 191);
  color: rgb(243, 226, 191);
  font-size: 1.6rem;
  font-weight: 300;
  text-transform: capitalize;
  text-align: center;
  line-height: 1.6;
  letter-spacing: 1.4px;
  margin-bottom: 4em;
}

/* Projects */

.grid_main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  justify-content: center;
}

.item {
  width: 300px;
  padding-bottom: 1.5em;
  border-radius: 18px;
  border: solid rgb(58, 57, 57);
  background-color: black;
  box-shadow: 3px 3px 15px #36353529;
  text-align: center;
  transform: scale(0.9);
  transition: 0.3s ease-in-out;
}

.item:hover {
  transform: scale(1);
  h6 {
    scale: 1.3;
  }
}

/* Cards */
.grid_main #top_img {
  width: 100%;
  height: fit-content;
  box-shadow: 3px 3px 15px #00000029;
  border-radius: 15px;
}

.grid_main h6 {
  font-size: 1.6rem;
  padding: 37px 0 21px 0;
  color: white;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.grid_main p {
  font-size: 1rem;
  color: #3a3a3a;
  text-align: center;
  padding: 0 2em;
}

.grid_main .icon-cards {
  display: block;
  width: 130px;
  height: 30px;
  margin: 0 auto;
}

.grid_main button {
  width: 10em;
  height: 1.9em;
  border: none;
  font: normal normal bold 16px/26px Heebo;
  border-radius: 10px;
  background: #1ae0ec 0% 0% no-repeat padding-box;
  margin-top: 2.188em;
  cursor: pointer;
}

.grid_main a {
  width: 100%;
  height: 1.9em;
  text-decoration: none;
  text-align: center;
  color: #2c2c2c;
  cursor: pointer;
}
