* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
}
.iphone_Container {
  background: rgb(66, 66, 66);
  position: relative;
  top: 5rem;
  width: 390px;
  height: 55vh;
  border: 1px solid;
  display: block;
  margin: 0 auto;
  border-radius: 30px;
}
.nav_container {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 7vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.ul_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.ul_list .list_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
  cursor: pointer;
}

img.ul_Icon {
  border: none;
  filter: contrast(1%);
  width: 35px;
}

img.iconTwo {
  border: none;
  filter: contrast(1%);
  width: 35px;
}
p {
  filter: contrast(1%);
  font-size: 1rem;
  user-select: none;
}
p:hover {
  filter: grayscale(1%);
  color: orange;
}
/* Timer */
.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  height: 40vh;
  p.output {
    filter: contrast();
    color: rgb(255, 166, 0);
    letter-spacing: 14px;
    font-size: 5rem;
  }
}
.timer_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h3 {
    position: absolute;
    top: 1.5rem;
    left: 3rem;
  }
  hr {
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
  }
}
input {
  background-color: black;
  border: none;
  height: 3vh;
  border-radius: 5px;
  color: orange;
}

input::placeholder {
  font-size: 0.8rem;
  color: orange;
  text-align: center;
  font-weight: bold;
}
.timer_buttons {
}
.stop_Watch {
  display: none;
}
